html {
  box-sizing: border-box;
}
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-image: url(/Images/tatooine.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto Slab', serif;
}

.name4{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color:silver;
  font-size: 10px;
  padding-top: 80px;
}

.name {
  padding: 16px;
  color: silver;
  font-size: 16px;
  font-weight: bold;
}

.stack {
  color: orangered;
  font-size: 20px;
}

.title {
  font-size: 12px;
  color: silver;
}

li {
  padding: 12px;
}

.nav-link {
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: flex-end;
  color: orangered;
  padding-bottom: 14px;
  padding-right: 16px;
}

.icons {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.fa.fa-github-square {
  padding-right: 18px;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(/Images/tatooine.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto Slab', serif;
  }

  p{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .name {
    padding: 32px;
    color: silver;
    font-weight: bold;
    font-size: 32px;
  }
  .name4{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color:silver;
    font-size: 20px;
  }
  
  .stack {
    color: orangered;
    font-size: 40px;
  }
  
  .title {
    font-size: 24px;
    color: silver;
  }
  
  li {
    padding: 24px;
    font-size: 40px;
  }
  
  .nav-link {
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: flex-end;
    color: orangered;
    padding-bottom: 28px;
    padding-right: 32px;
    font-size: 28px;
  }
  
  .icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    padding-bottom: 20px;
  }
  
  .fa.fa-github-square {
    padding-right: 36px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    background-image: url(/Images/tatooine.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto Slab', serif;
  }
  
  .name {
    padding: 32px;
    color: silver;
    font-weight: bold;
    font-size: 32px;
  }

  .name4{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color:silver;
    font-size: 24px;
  }
  
  
  .stack {
    color: orangered;
    font-size: 40px;
  }
  
  .title {
    font-size: 24px;
    color: silver;
  }
  
  li {
    padding: 24px;
    font-size: 40px;
  }
  
  .nav-link {
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: flex-end;
    color: orangered;
    padding-bottom: 28px;
    padding-right: 32px;
    font-size: 32px;
  }
  
  .icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    padding-bottom: 20px;
  }
  
  .fa.fa-github-square {
    padding-right: 36px;
  }
}






